{% extends "passvault/layout.html" %}

{% block body %}
<form action="{% url 'AddCred' %}" method="post" name='NewCred-form' class="form-login">
    <h4 style="text-align: center;">Enter Credential Details</h4>
    {% csrf_token %}
    <input id="Sitename" type="text" name='Sitename' placeholder="Sitename or Url">
    <input id="siteusername" name="siteusername" type="text" placeholder="Username for the website">
    <input id="password" name="password" type="password" placeholder="Password for the website">

    <input id="sbutton" type="submit" value="Save">

</form>
<ul class="nav-links">
    <li><a href="{% url 'userMenu'%}">Back</a></li>
</ul>
{% endblock %}