{% extends "passvault/layout.html" %}

{% block body %}
    <form  action="{% url 'login_view' %}" method="post"  name='login-form' class="form-login">
        <h4>Log In</h4>
        {% csrf_token %}
        {% if message %}
            <h5 class="error">{{ message }}</h5>
        {% endif %}    
    
        <input id="username" name="username" type="text" placeholder="Username">
        <input id="password" name="password" type="password" placeholder="Password">
        <input id="sbutton" type="submit" value="Log-In">
        <a href="{% url 'reset_password' %}">Forgot Ur Password?</a>

    </form>
    <ul class="nav-links">
        <li><a href="{% url 'index'%}">Back</a></li>
    </ul>
{% endblock %}