{% extends "passvault/layout.html" %}

{% block body %}
<h1 class="code-line" data-line-start=0 data-line-end=1 ><a id="TERMS_AND_CONDITIONS_OF_USE_OF_PASSVAULT_0"></a>TERMS AND CONDITIONS OF USE OF PASSVAULT</h1>
<h2 class="code-line" data-line-start=1 data-line-end=2 ><a id="By_Signing_up_for_PASSVAULT_The_user_agrees_to_the_following_TCS_1"></a>By Signing up for PASSVAULT The user agrees to the following T&amp;CS</h2>
<ul>
<li class="has-line-data" data-line-start="2" data-line-end="3">PASSVAULT USES MULTIPLE Encryptions to store user’s data</li>
<li class="has-line-data" data-line-start="3" data-line-end="4">the admins of PASSVAULT ARE incapable of viewing any user’s data except for user’s passvault username and email id used for creating an account in passvault</li>
<li class="has-line-data" data-line-start="4" data-line-end="6">This being said passvault admin or the creator is not reponsible for any database breaches (which is unlikely to happen<br>
)</li>
</ul>
<hr>
<h1 class="code-line" data-line-start=7 data-line-end=8 ><a id="TECHNICAL_INFORMATIONS_7"></a>TECHNICAL INFORMATIONS</h1>
<p class="has-line-data" data-line-start="8" data-line-end="9">PASSVAULT is powered by</p>
<ul>
<li class="has-line-data" data-line-start="9" data-line-end="10">DJANGO on the backend</li>
<li class="has-line-data" data-line-start="10" data-line-end="11">JAVACRIPT on the front end</li>
<li class="has-line-data" data-line-start="11" data-line-end="12">heroku as the host server</li>
<li class="has-line-data" data-line-start="12" data-line-end="13">POSGRES db to store data</li>
</ul>
    <ul class="nav-links">
        <li><a href="{% url 'index'%}">Back</a></li>
    </ul>
{% endblock %}